@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family:'Roboto','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #7286D3;
    color: #FFF2F2;
    letter-spacing: 1px;
}

/* HEADER */
header {
    background-color: #8EA7E9;
    padding: 20px;
    text-align: center;
}

/* MAIN ELEMENT */
#main {
    min-height: 100vh;
    max-width: 100%;
    margin: 3em auto;
    padding: 1em;
}

/* MAIN FORM */
#main form {
    max-width: 500px;
    margin: 0 auto;
}

#main form label {
    display: block;
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

input[type="text"] {
    width: 100%;
    padding: .5rem 0;
    margin: .5rem 0;
    font-size: 1.2rem;
}

#get-city-btn {
    display: block;
    padding: .6rem 1rem;
    cursor: pointer;
    background-color: #8EA7E9;
    border: 1px solid #E5E0FF;
    border-radius: .5rem;
    color: #FFF2F2;
}

#city-name {
    text-align: center;
    font-size: 1.5rem;
}

/* DATA SECTION */
#data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#air-pollution-data h3 {
    text-align: center;
    font-size: 1.5rem;
}

.air-pollution-index {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

/* WEATHER IMAGE */
#weather-img {
    text-align: center;
}

/* FOOTER */
footer {
    background-color: #8EA7E9;
    padding: 20px;
    text-align: center;
}